*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    

}

.body{
    height:100%;
    width:100vh;
}

.container{
    background-image: url(./assets/bg.png);
    background-position:100% 100%;
    background-size:cover;
    height: 100vh;

}
.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
    background-color:black;
}
.line{
    color: aliceblue;
   border: 1px  solid;
   border-color: white;
   height: 50px;
}
.list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    list-style-type: none;
    padding-right: 500px;
    color: aliceblue;
}
.button-small{
    padding:10px 40px;
    border-radius: 10px;
    background-color:rgb(234, 84, 234);

}

.hero{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}

.hero-heading{
   font-size:80px;
}

.hero-description{
    font-size:x-large;
}

.button-large{
    margin-top: 40px;
    padding:15px 50px;
    background-color: rgb(234,84,234);
}